<article class="baskerville pb5">
    <header class="avenir tc-l ph3 ph4-ns pt4 pt5-ns">
        <h1 class="f3 f2-m f-subheadline-l measure lh-title fw1 mt0">{{news.title}}</h1>
        <img class="w-100 dib measure f3" src="{{news.image}}" />
    </header>
    <div class="ph3 ph4-m ph5-l">
        <p class="f4 mb4 center measure lh-copy">
            {{news.description}} <a href="{{news.link}}" class="center black" target="_blank">Link to full article</a></p>

    </div>

<div class="f4 mb4 center measure lh-copy">
<h2 class="f2 tc-1">Comments</h2>
    <div class="f4">
        
        {{#unless news.notes}}
                <div class="bt bb b--black-10 fl w-100">
                    <p>Looks like there aren't any comments yet. Feel free to be the first to add one!</p>
                </div>
        {{/unless}}

        {{#if news.notes}}
        {{#each news.notes}}
        <div class="bt bb b--black-10 fl w-100">
        <div class="fl w-75 margin">
        <h5>Name: {{this.name}}</h5>
        <p>Comment: {{this.body}}</p>
        </div>
        <div class="fl w-25 marginButton">
            <button class="f6 link dim br3 ph3 pv2 mb2 dib white bg-near-black" id="deleteNote" data-notes="{{this._id}}">Delete Note</button>
        </div>
        </div>
        {{/each}}
        {{/if}}

    </div>
</div>
<br>

<div class="f4 mb4 center measure lh-copy">
    <h2 class="f2 tc-1">Add a Comment</h2>
        <form class="black-80" method="post" action="/read/{{news._id}}">

            <div>
                <label for="body" class="f6 b db mb2">Comments</label>
                <textarea id="body" name="body" class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2"
                    aria-describedby="body-desc"></textarea>
            </div>
            <div class="measure">
                <label for="name" class="f6 b db mb2">Name</label>
                <input id="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" name="name" type="text"
                    aria-describedby="name-desc">
            </div>
            <button class="f6 link dim br3 ph3 pv2 mb2 dib white bg-near-black" type="submit">Submit</button>
        </form>

</div>



</article>